*{
    margin: 0;
    padding: 0;
}

.container{
    background-color: #29283a;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.top{
    font-size: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.score{
    color: white;
    font-size: 20px;
}

.slowSpawn{
    color: yellow;
}

.halfSpawn{
    color: aqua;
}
.board{
    display: grid;
    grid-template-columns: repeat(20,30px);
    grid-template-rows: repeat(20,30px);
    
    width: max-content;
}

.cell{
    background-color: rgb(151, 148, 148);
    width: 30px;
    height: 30px;
}

.food{
    background-color: red;
}

.slowItem{
    background-color: yellow;
}

.halfItem{
    background-color: aqua;;
}

.snake{
    background-color: black;
}

.snakehead{
    background-color: black;
}


.game-over-popup{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 100px;
    color: red;
}

.game-over-score{
    color:white;
    font-size: 50px;
}
.post-score {
    display: flex;
    align-items: center;
    padding: 10px;
}

.userInput{
    color: black;
    font-size: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    
}

.userName{
    font-size: 20px;
    color: white;
}

.saved{
    color: greenyellow;
    font-size: 20px;
}

.try-again{
    font-size: 30px;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.try-again-btn{
    color: black;
    background-color: red;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
}

